@model CSAddressBook.Models.Contact

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>EMAIL CONTACT</h1>
<div class="p-3 border border-2 shadow-lg bg-light">
    @*Need enctype="multipart/form-data" to make the imageFile work*@
    <form asp-action="Edit" method="post">
        This is a Form
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>